// TodoTemplate.scss
.TodoTemplate{
    width: 512px;
    margin: 6rem auto;
    border-radius: 4px;
    overflow: hidden;
    .app-title{
        background: #22b8cf;
        color: #fff;
        height: 4rem;
        font-size: 1.5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content{
        background: #fff;
    }
}